<nav>
  <strong><a href="/">Home</a></strong>
  {% if user.is_authenticated %}
  <span>
    <strong>Post:</strong>
    <a href="{% url 'add' 'text' %}">text</a>
    <a href="{% url 'add' 'link' %}">link</a>
    <a href="{% url 'add' 'image' %}">image</a>
  </span>
  <span style="float: right">
    <strong>{{ user.account.handle }}: </strong>
    <a href="{% url 'django.contrib.auth.views.password_change' %}">Change Password</a>
    <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
  </span>
  {% else %}
  {% endif %}
</nav>
