<nav>
  <strong><a href="/">Home</a>&nbsp&nbsp</strong>
  {% if user.is_authenticated %}
  <span>
    <input
       type="button"
       value="post text"
       onclick="location.href='{% url 'add' 'text' %}';"/>
    <input
       type="button"
       value="post link"
       onclick="location.href='{% url 'add' 'link' %}';"/>
    <input
       type="button"
       value="post image"
       onclick="location.href='{% url 'add' 'image' %}';"/>
  </span>
  <span style="float: right">
    <strong>{{ user.account.handle }}: </strong>
    <a href="{% url 'django.contrib.auth.views.password_change' %}">Change Password</a>
    <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
  </span>
  {% else %}
  {% endif %}
</nav>
